<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cold.androidanimations">

    <uses-permission android:name="android.permission.INTERNET" />
    
    <application
        android:name="com.cold.androidanimations.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:networkSecurityConfig="@xml/network_security_config"
        >
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.cold.androidanimations.frame.FrameActivity"/>
        <activity android:name="com.cold.androidanimations.tween.TweenActivity"/>
        <activity android:name="com.cold.androidanimations.property.PropertyActivity"/>
        <activity android:name="com.cold.androidanimations.property.valueanimator.ScaleActivity"/>
        <activity android:name="com.cold.androidanimations.property.valueanimator.ValueAnimatorActivity"/>
        <activity android:name="com.cold.androidanimations.property.objectanimator.ObjectAnimatorActivity"/>
        <activity android:name="com.cold.androidanimations.property.objectanimator.customcolor.CustomColorActivity"/>
        <activity android:name="com.cold.androidanimations.property.ViewPropertyAnimatorActivity"/>
        <activity android:name="com.cold.androidanimations.property.AnimatorSetActivity"/>
        <activity android:name="com.cold.androidanimations.property.TestActivity"/>
        <activity android:name="com.cold.androidanimations.property.TestActivity1"/>
        <activity android:name="com.cold.androidanimations.property.TestRotateActivity"/>
        <activity android:name="com.cold.androidanimations.property.TestRotateActivity1"/>
        <activity android:name="com.cold.androidanimations.property.KaActivity"/>
        <activity android:name="com.cold.androidanimations.countdown.CountDownActivity"/>
        <activity android:name="com.cold.androidanimations.rotate.RotateActivity"/>
        <activity android:name="com.cold.androidanimations.rotate.RotateViewActivity"/>
        <activity android:name="com.cold.androidanimations.rotate.TestRotateViewActivity"/>
        <activity android:name="com.cold.androidanimations.ShowActivity"/>
        <activity android:name="com.cold.androidanimations.fans.LeonidsActivity"/>
        <activity android:name="com.cold.androidanimations.fans.FansActivity"/>
        <activity android:name="com.cold.androidanimations.property.fans.TestFansActivity"/>
        <activity android:name="com.cold.androidanimations.radar.RadarActivity"/>
        <activity android:name="com.cold.androidanimations.pan.PanActivity"/>
        <activity android:name="com.cold.androidanimations.kk.RotateActivity"/>
        <activity android:name="com.cold.androidanimations.kk.RotateTestActivity"/>
        <activity android:name="com.cold.androidanimations.other.OtherActivity"/>
        <activity android:name="com.cold.androidanimations.other.SwitchTextActivity"/>
        <activity android:name="com.cold.androidanimations.other.ExpandViewActivity"/>
        <activity android:name="com.cold.androidanimations.other.ExpandViewTestActivity"/>
        <activity android:name="com.cold.androidanimations.other.GradientTextViewActivity"/>
        <activity android:name="com.cold.androidanimations.other.RevealActivity"/>
        <activity android:name="com.cold.androidanimations.other.RollActivity"/>
        <activity android:name="com.cold.androidanimations.svga.SvgaActivity"/>
        <activity android:name="com.cold.androidanimations.svga.AssetsActivity"/>
        <activity android:name="com.cold.androidanimations.svga.AssetsOtherActivity"/>
        <activity android:name="com.cold.androidanimations.svga.CacheActivity"/>
        <activity android:name="com.cold.androidanimations.svga.PreloadActivity"/>
        <activity android:name="com.cold.androidanimations.test.TestActivity11" />
        <activity android:name="com.cold.androidanimations.test.wheel.WheelActivity" />
        <activity android:name="com.cold.androidanimations.open.OpenActivity" />
        <activity android:name="com.cold.androidanimations.open.Rotate3dActivity" />
        <activity android:name="com.cold.androidanimations.open.TestOpenActivity" />
        <activity android:name="com.cold.androidanimations.sharedelement.MainSharedElementActivity" />
        <activity android:name="com.cold.androidanimations.sharedelement.ListSharedElementActivity" />
        <activity android:name="com.cold.androidanimations.sharedelement.SharedElementActivity" />
        <activity android:name="com.cold.androidanimations.sharedelement.SharedElementActivity2" />
        <activity android:name="com.cold.androidanimations.match.MatchActivity" />
        <activity android:name="com.cold.androidanimations.match.MatchSingleActivity" />
        <activity android:name="com.cold.androidanimations.match.MatchGroupActivity" />
        <activity android:name="com.cold.androidanimations.notification.NotificationActivity" />


    </application>

</manifest>